<header class="header">
  <div class="container">
    <div class="header__logo">
      <svg class="header__logo-icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <div class="background-logo"></div>
    </div>
    <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <form class="form">
      <span class="form__input">
        <input
          autocomplete="off"
          class="form-element"
          name="search-field"
          id="search"
          type="text"
          placeholder="Start searching"
        />
        <svg class="search-icon">
          <use href="./images/sprite.svg#iconSearch"></use>
        </svg>
      </span>
      <span class="form__select">
        <select class="form-select form-element">
          <option value="">Choose country</option>
        </select>
      </span>
    </form>
  </div>
</header>
