<section class="main">
  <div class="container">
    <h2 class="visually-hidden">Cards list</h2>
    <ul class=""></ul>
    <div class="bacground-images">
      <div class="image-one">
        <img src="./images/png/vertical-lines.png" />
      </div>
      <div class="image-two">
        <img src="./images/png/Ellipse10.png" />
      </div>
      <div class="image-tree">
        <img src="./images/png/Ellipse11.png" />
      </div>
      <div class="image-four">
        <img src="./images/png/Ellipse5.png" />
      </div>
      <div class="image-five">
        <img src="./images/png/Ellipse2.png" />
      </div>
      <div class="image-six">
        <img src="./images/png/Ellipse6.png" />
      </div>
      <div class="image-seven">
        <img src="./images/png/Ellipse4.png" />
      </div>
      <div class="image-eight">
        <img src="./images/png/Ellipse8.png" />
      </div>
      <div class="image-nine">
        <img src="./images/png/Ellipse7.png" />
      </div>
      <div class="image-ten">
        <img src="./images/png/Ellipse9.png" />
      </div>
    </div>
  </div>
</section>
