<div class="backdrop ">

<div class="modal1">
    <button class="close"><img src="" alt="" class="close_svg"></button>
    <div class="prewiu">
        <img src="https://file.liga.net/images/general/2019/01/16/20190116181646-3423.jpg?v=1547661603" alt="" class="prewiu_img">
    </div>
    <div class="body_modal">
        <img src="" alt="" class="body_modal_img">
        <ul class="modal_list">
            <li class="modal_item">
                <h2 class="modal_titles">Info</h2>
                <p class="modal_text">Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will create a proper music festival atmosphere on 10 stages</p>
            </li>
            <li class="modal_item">
                <h2 class="modal_titles">When</h2>
                <p class="modal_text">2021-06-09</p>
                <p class="modal_text">20:00 (Kyiv/Ukraine)</p>
            </li>
            <li class="modal_item">
                <h2 class="modal_titles">Where</h2>
                <p class="modal_text">Kyiv, Ukraine</p>
                <p class="modal_text">VDNH</p>
            </li>
            <li class="modal_item">
                <h2 class="modal_titles">Who</h2>
                <p class="modal_text">The Black Eyed Peas</p>
            </li>
            <li class="modal_item">
                <h2 class="modal_titles">Prices</h2>
                <div>
                    <img src="" alt="" class="modal_svg">
                    <p class="modal_text">Standart 300-500 UAH</p>
                </div>
                <div class="link_flex">
                <a href="" class="modal_link">Buy tickets</a>
            </div>
                <div>
                    <img src="" alt="" class="modal_svg">
                    <p class="modal_text">VIP 1000-1500 UAH</p>
                </div>
                <div class="link_flex">
                <a href="" class="modal_link">Buy tickets</a>
            </div>
            </li>
        </ul>
        <div class="link_flex">
        <a href="" class="modal_link2">More from this Author</a>
    </div>
    </div>
</div>

</div>





