.main {
  height: 1780px;
  background-color: #0e0e0e;
  background-image: url(./../images/noise_body.png);
  position: relative;
}
.bacground-images {
  position: relative;

  .image-one {
    position: absolute;
    left: -154px;
    top: -446px;
  }
  .image-two {
    position: absolute;
    left: -160px;
    top: 1690px;
  }
  .image-tree {
    position: absolute;
    top: 1730px;
    left: -120px;
  }
  .image-four {
    position: absolute;
    left: -170px;
    top: 240px;
  }
  .image-five {
    position: absolute;
    left: -130px;
    top: 280px;
  }
  .image-six {
    position: absolute;
    left: -140px;
    top: 850px;
  }
  .image-seven {
    position: absolute;
    left: 520px;
    top: 50px;
  }
  .image-eight {
    position: absolute;
    right: -160px;
    top: 790px;
  }
  .image-nine {
    position: absolute;
    right: -200px;
    top: 750px;
  }
  .image-ten {
    position: absolute;
    left: 520px;
    top: 1300px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
}
.smallCard {
  width: 195px;
  height: 312px;
  z-index: 10;
  position: relative;
}
.smallCard::after {
  content: '';
  display: block;
  width: 153px;
  height: 143px;
  border-radius: 50px 0px;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgba(220, 86, 197, 0.3);
}
.smallCard-small {
  width: 180px;
  height: 227px;
  border-radius: 50px 0px;
  margin-top: 13px;
  margin-right: 13px;
  object-fit: cover;
}
.smallCard_heroes {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;

  color: #dc56c5;
}
.smallCard_date {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  margin-top: 5px;
  color: #ffffff;
}
.smallCard_place {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  text-align: center;
  margin-top: 5px;
  a {
    color: #fff;
  }
}
.smallCard_place::before {
  width: 7px;
  height: 10px;
  display: inline-block;
  content: '';
  //   border: 1px solid red;
  background-image: url(./../images/icons/Map-point.svg);
  //   justify-content: center;
  //   align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main__grid-small-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 55px;
  position: absolute;
  top: -55px;
  // margin: 0 auto;
}
